.banner {
  text-align: left;
  display: flex;
  padding: 2vh;
  justify-content: center;
  background-color: #4a4e56;
  color: lightgrey;
}

.banner div {
  padding-left: 1vh;
}

.banner .img {
    align-items: center;
}

.banner .content {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 50%;
}

.banner .voting {
    text-align: right;
    display: flex;
    flex-direction: column;
}