.banner {
  width: 100%;
  padding: 2vh;
  display: flex;
  justify-content: space-between;
}

.banner-img {
  align-self: center;
}

.banner-content {
  flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: left;
}

.banner-content Typography {
  text-align:left;
}

.banner-voting {
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly
}
