html, body {
  height: 100%;
}

.App {
  width: 100%;
  height: 100%;
}

.app-header {
  width:inherit;
  text-align: center;
}

.app-header-title {
  color: black;
  text-align: center;
}

.article-list {
  list-style-type: none;
  width: 75vw;
}

ol li {
  margin-bottom:1vh;
}
.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2vh;
}



.search-bar {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
}