html, body {
  height: 100%;
}

.App {
  width: 100%;
  height: 100%;
}

.app-header {
  background-color: #282c34;
  width:inherit;
  text-align: center;
}

.app-header-title {
  font-size: calc(10px + 3vmin);
  color: white;
}

.article-list {
  padding: 0;
  width: 100%;
}

.flex-container {
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}



.search-bar {
  color: white;
  background-color:#4a4e56;
  border-color: #4a4e56;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
}