html, body {
  height: 100%;
}

.App {
  width: 100%;
  height: 100%;
}

.app-header {
  width: inherit;
  background-color: #282c34;
  padding: 5vh;
  text-align: center;
}

.app-header-title {
  font-size: calc(10px + 3vmin);
  color: white;
}

.flex-container {
  width: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.article-banner {
  text-align: center;
}

.article-banner a {
  color: white;
}

.article-list {
  padding: 0;
  list-style-type: none;
}

.article-container {
  width: inherit;
  background-color: #4a4e56;
  color: lightgrey;
}

.search-bar {
  color: white;
  background-color:#4a4e56;
  border-color: #4a4e56;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
}